require 'sidekiq'

env = Rails.env
socket_path = Rails.root.join("redis", env, "redis.sock")

Sidekiq.configure_server do |config|
  config.redis = { path: Rails.root.join("#{socket_path}") }
end

Sidekiq.configure_client do |config|
  config.redis = { path: Rails.root.join("#{socket_path}") }
end
Rails.logger.info "[Sidekiq] Using Redis socket at #{socket_path}" if defined?(Rails.logger)
