require 'sidekiq'

env = Rails.env
socket_path = Rails.root.join("redis", env, "redis.sock")

redis_config = if File.exist?(socket_path)
  { path: socket_path }
else
  warn "[Sidekiq] Redis socket not found. Falling back to localhost." if Rails.env.development?
  { url: "redis://localhost:6379/0" }
end

Sidekiq.configure_server { |config| config.redis = redis_config }
Sidekiq.configure_client { |config| config.redis = redis_config }
