require "test_helper"

<% module_namespacing do -%>
  class <%= adjusted_class_name %>Test < ActiveSupport::TestCase
    test "perform runs without error" do
      assert_nothing_raised do
        <%= adjusted_class_name %>.new.perform
      end
    end
  end
<% end -%>
